---
layout: section
top_separator_image: /images/hero/philosophy.jpg
order: 3
show_in_nav: true
---
<h2 class="text-center">
	We've collaborated with some of the best.
</h2>

<section id="map-container">
	{% include svgs/usa.svg %}
	<div id="star-container"></div>
</section>

{% assign state_partners = site.data.research_partners | sort: "state" | group_by: "state" %}

<button class="expand-section-element outline center-block" data-target="#research-partners-list">Show list</button>

<div class="collapsable collapsed hide-off-screen" id="research-partners-list">
	<aside class="sidebar sticky">
		<ul class="page-nav">
{% for state_group in state_partners %}
			<li>
				<a href="#{{ site.data.state_names[state_group.name] | slugify }}" class="internal-link">
					{{ site.data.state_names[state_group.name] }}
				</a>
			</li>
{% endfor %}
			<li class="back-to-top">
				<a href="#us-map" class="internal-link">
					↑ Back to map
				</a>
			</li>
		</ul>
	</aside>

	<div class="page-content">
		<section id="partners-list">
			<h2>Partners</h2>
{% for state_group in state_partners %}
			<h3 class="partners-list-group-title" id="{{ site.data.state_names[state_group.name] | slugify }}">
				{{ site.data.state_names[state_group.name] }}
			</h3>
			<ul class="partners-list-group" data-state="{{ state_group.name }}">
	{% for partner in state_group.items %}
				<li class="partners-list-item" data-partner-name="{{ partner.name }}">
					<h4><a href="{{ partner.url }}" rel="external" title="View partner website">{{ partner.name }}</a></h4>

		{% if partner.image %}
					<figure>
						<a href="{{ partner.url }}" rel="external" title="View partner website">
							<img src="{{ partner.image }}" alt="" />
						</a>
					</figure>
		{% endif %}
				</li>
	{% endfor %}
			</ul>
{% endfor %}
		</section>
	</div>
</div>
