---
title: People
order: 5
show_in_nav: true
position_order:
  - Vice Chair of Pain Medicine
  - Faculty
  - Fellow
  - Psychology Graduate Student
  - ""
group_names:
  Fellow: Fellows
  Psychology Graduate Student: Psychology graduate students
  "": Other research team members
---
{% assign people_groups = site.people | group_by: "position" %}

<aside class="sidebar narrow-sidebar sticky">
	<ul class="page-nav">
{% for position in page.position_order %}
	{% assign people_group = people_groups | where: "name",position | first %}
		<li {% if forloop.first %} class="back-to-top" {% endif %}>
			<a href="#{{ page.group_names[people_group.name] | default: people_group.name | slugify }}" class="internal-link">
				{{ page.group_names[people_group.name] | default: people_group.name }}
			</a>
		</li>
{% endfor %}
	</ul>
</aside>

<div class="page-content">
{% for position in page.position_order %}
	{% assign people_group = people_groups | where: "name",position | first %}
	<h2 id="{{ page.group_names[people_group.name] | default: people_group.name | slugify }}">
		{{ page.group_names[people_group.name] | default: people_group.name }}
	</h2>
	<ul class="people-group">

	{% assign people = people_group.items %}
	{% for person in people %}
		{% unless person.hide %}

		<li class="{% if person.director %} director {% else %} person {% endif %}" tabindex="1">
			{% unless person.director %} <a href="#{{ person.name | slugify }}" title="Click to see more about {{ person.name }}"> {% endunless %}
				<figure>
					<img src="{{ person.image | default: "http://placehold.it/250x250" }}" alt="" />
					<figcaption>
						{{ person.name }}
		{% if person.titles %}
						<span class="person-titles">{{ person.titles | join: ", " }}</span>
		{% endif %}
					</figcaption>
				</figure>
		{% if person.director %}
				<div class="bio">
					{{ person.content }}
				</div>
		{% endif %}
			{% unless person.director %} </a> {% endunless %}
		</li>

		{% endunless %}
	{% endfor %}

	</ul>

	{% for person in people %}
		{% unless person.hide %}

			<div class="remodal person-bio-modal" data-remodal-id="{{ person.name | slugify }}">
				<button data-remodal-action="close" class="remodal-close"></button>
				<h3 class="person-name">{{ person.name }} <span class="person-titles">{{ person.titles | join: ", " }}</span></h3>
				<img class="person-image" src="{{ person.image }}" alt="" />
				<div class="bio">
					{{ person.content }}
				</div>
			</div>

		{% endunless %}
	{% endfor %}
{% endfor %}
</div>
