---
title: People
order: 5
show_in_nav: true
position_order:
  - Vice Chair of Pain Medicine
  - Faculty
  - Fellow
  - Psychology Graduate Student
  - ""
group_names:
  Fellow: Fellows
  Psychology Graduate Student: Psychology graduate students
  "": Other research team members
---
{% assign people_groups = site.people | group_by: "position" %}

<aside class="sidebar narrow-sidebar sticky">
	<ul class="page-nav">
{% for position in page.position_order %}
	{% assign people_group = people_groups | where: "name",position | first %}
		<li {% if forloop.first %} class="back-to-top" {% endif %}>
			<a href="#{{ page.group_names[people_group.name] | default: people_group.name | slugify }}" class="internal-link">
				{{ page.group_names[people_group.name] | default: people_group.name }}
			</a>
		</li>
{% endfor %}
	</ul>
</aside>

<div class="page-content">
{% for position in page.position_order %}
	{% assign people_group = people_groups | where: "name",position | first %}
	<h2 id="{{ page.group_names[people_group.name] | default: people_group.name | slugify }}">
		{{ page.group_names[people_group.name] | default: people_group.name }}
	</h2>
	<ul class="people-group">
	{% assign people = people_group.items %}
	{% for person in people %}
		{% unless person.hide %}
		<li class="{% if person.director %} director {% else %} person {% endif %}" tabindex="1">
			<figure>
				<img src="{{ person.image | default: "http://placehold.it/250x250" }}" alt="" />
				<figcaption>
					{{ person.name }}
		{% if person.titles %}
					<span class="person-titles">{{ person.titles | join: ", " }}</span>
		{% endif %}
				</figcaption>
			</figure>
			<div class="bio">
				{{ person.content }}
			</div>
		</li>
		{% endunless %}
	{% endfor %}
	</ul>
{% endfor %}
</div>
