---
title: Research
hero_image: /images/hero/research.jpg
hero_position: bottom;
page_order: 4
scripts:
  - research-map.js
---
<header class="page-header">
	<section id="map-container">
		{% include svgs/usa.svg %}
		<div id="star-container"></div>
	</section>
</header>

{% assign state_partners = site.data.research_partners | sort: "state" | group_by: "state" %}

<aside class="sidebar sticky">
	<ul class="page-nav">
{% for state_group in state_partners %}
		<li>
			<a href="#{{ site.data.state_names[state_group.name] | slugify }}" class="internal-link">
				{{ site.data.state_names[state_group.name] }}
			</a>
		</li>
{% endfor %}
		<li class="back-to-top">
			<a href="#us-map" class="internal-link">
				↑ Back to map
			</a>
		</li>
	</ul>
</aside>

<div class="page-content">
	<section id="partners-list">
		<h2>Partners</h2>
{% for state_group in state_partners %}
		<h3 class="partners-list-group-title" id="{{ site.data.state_names[state_group.name] | slugify }}">
			{{ site.data.state_names[state_group.name] }}
		</h3>
		<ul class="partners-list-group" data-state="{{ state_group.name }}">
	{% for partner in state_group.items %}
			<li class="partners-list-item" data-partner-name="{{ partner.name }}">
				<h4><a href="{{ partner.url }}">{{ partner.name }}</a></h4>
				<figure>
					<a href="{{ partner.url }}">
						<img src="{{ partner.image | default: "http://placehold.it/300x300" }}" alt="" />
					</a>
				</figure>
			</li>
	{% endfor %}
		</ul>
{% endfor %}
	</section>
</div>
