---
title: Why Milwaukee
order: 7
show_in_nav: true
hero_image: /images/hero/why-milwaukee.jpg
# hero_content: <h1>Choose Milwaukee</h1>
external_scripts:
  - <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzUjYL1M1CQNv2MjTqdxJq0fgA83z6C2A&callback=initMap" async defer></script>
---
<div class="lead">
	<p>
		Located on the scenic shore of Lake Michigan, Milwaukee offers an exceptional blend of stunning natural beauty and Midwest charm.
		A downtown RiverWalk connects German heritage-inspired Old World Third Street to the Historic Third Ward with its shops and restaurants.
	</p>
	<p>
		We’re a city of colorful, walk-around neighborhoods, acclaimed culinary scene and entrepreneurial spirit, where exciting attractions like
		Discovery World and Milwaukee Art Museum meet brewery tours, excursion boats, professional sports and a summer-long schedule of lakefront festivals.
		You’ll find all this and more on tap in Milwaukee. Check out some of our Milwaukee favorites below.
	</p>
</div>

<section id="choose-mke-attractions">
{% for attraction in site.milwaukee_attractions %}
	<section>
		<h2 id="{{ attraction.name | slugify }}">{{ attraction.name }}</h2>
		<figure>
			<img src="{{ attraction.image }}" alt=""
	{% if attraction.image_position %}
	  			style="object-position: {{ attraction.image_position }};"
	{% endif %}
			/>
	{% if attraction.image_caption %}
			<figcaption>{{ attraction.image_caption }}</figcaption>
	{% endif %}
		</figure>
	{% if attraction.content %}
		<div class="attraction-content">
			{{ attraction.content | markdownify }}
		</div>
	{% endif %}
	</section>
{% endfor %}
</section>

<hr />

<ul id="choose-mke-attraction-list">
{% for attraction in site.milwaukee_attractions %}
	<li>
		<a href="#{{ attraction.name | slugify }}" class="internal-link slick-slide-link" data-slide-index="{{ forloop.index0 }}">
			<figure>
				<img src="{{ attraction.image }}" alt="" />
				<figcaption>{{ attraction.name }}</figcaption>
			</figure>
		</a>
	</li>
{% endfor %}
</ul>

<div id="milwaukee-map"></div>

<div class="text-center">
	<a class="button accent-button outline" href="http://www.visitmilwaukee.org/visitors/neighborhoods">Check out MKE's neighborhoods</a>
</div>
