<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col internal-links-col">
        <ul class="page-list">
{% assign footer_pages = site.pages | sort: "order" %}
{% for footer_page in footer_pages %}
	{% if footer_page.show_in_footer %}
			<li><a href="{{ footer_page.url }}">{{ footer_page.title }}</a></li>
	{% endif %}
{% endfor %}
        </ul>
      </div>

      <div class="footer-col external-links-col">
        <ul class="mcw-links">
			<li>
				<a href="http://www.mcw.edu/Anesthesiology/Pain-Medicine-Management.htm">
					{% include svgs/pain-medicine.svg %}
				</a>
			</li>
			<li>
				<a href="http://www.mcw.edu/">
					{% include svgs/pain-medicine.svg %}
				</a>
			</li>
			<li>
				<a href="http://www.mcw.edu/">
					{% include svgs/pain-medicine.svg %}
				</a>
			</li>
			<li>
				<a href="http://www.mcw.edu/">
					{% include svgs/pain-medicine.svg %}
				</a>
			</li>
        </ul>
      </div>

      <div class="footer-col">
        <p>This site is a work in progress. If anything seems out of place, please <a href="/contact">let us know!</a></p>
      </div>
    </div>

  </div>

</footer>
