<header class="site-header collapsed">
	<a href="/" class="site-title">PREDICT <span class="title-pain-lab">Pain Lab</span></a>

	<nav class="site-nav">
		<a href="#" class="ignore-click menu-icon">
    		{% include svgs/menu.svg %}
		</a>

		<div class="trigger">

{% if page.url != "/" %}
	{% assign page_link_prepend = "/" %}
{% endif %}
{% assign sections = site.sections | sort: "order" %}
			<a href="{{ page_link_prepend }}#" class="page-link internal-link">Home</a>
{% for section in sections %}
	{% if section.show_in_nav %}
			<a href="{{ page_link_prepend }}#{{ section.title | slugify }}" class="page-link internal-link">{{ section.title }}</a>
	{% endif %}
{% endfor %}
{% assign nav_pages = site.pages | sort: "order" %}
{% for nav_page in nav_pages %}
	{% if nav_page.show_in_nav %}
			<a href="{{ nav_page.url }}" class="page-link {% if page.url == nav_page.url %} active {% endif %}">{{ nav_page.title }}</a>
	{% endif %}
{% endfor %}
			<a href="/blog" class="page-link {% if page.url contains "/blog" %} active {% endif %}">Blog</a>
		</div>
	</nav>

	<div class="site-logo">
		{% include svgs/pain-medicine.svg %}
	</div>
</header>
