<header class="site-header collapsed">
	<div class="site-logo">
		{% include svgs/pain-medicine.svg %}
	</div>
	<h1 class="site-title">
		<a href="#" class="internal-link" title="Go to top of page">
{% if page.title and page.title != "Home" %}
	{% if page.layout == "post" %}
			Blog
	{% else %}
			{{ page.title }}
	{% endif %}
{% endif %}
		</a>
	</h1>
	<nav class="site-nav">
		<a href="#" class="menu-icon">
    		{% include svgs/menu.svg %}
		</a>

		<div class="trigger">

{% if page.url != "/" %}
	{% assign page_link_prepend = "/" %}
{% endif %}
{% assign sections = site.sections | sort: "page_order" %}
{% for section in sections %}
			<a href="{{ page_link_prepend }}#{{ section.title | slugify }}" class="page-link internal-link">{{ section.title }}</a>
{% endfor %}

			<a href="/blog" class="page-link">Blog</a>
			<a href="/choose-mke" class="page-link">Choose MKE</a>
		</div>
	</nav>
</header>
