<style>
	.hero-container {
		background-image: url({{ page.hero_image }});
	}
</style>
{% assign classes = page.classes %}
<div class="hero-container
			{% if page.hero_title or page.hero_text or page.hero_content %}
				has-content
			{% endif %}

			{% if page.hero_blur %}
				blur
			{% endif %}">

{% if page.hero_title or page.hero_text or page.hero_content %}
	<div class="hero-content">

	{% if page.hero_title %}
		<h1>{{ page.hero_title }}</h1>
	{% endif %}

	{% if page.hero_text %}
		<p class="lead">
			{{ page.hero_text }}
		</p>
	{% endif %}

	{% if page.hero_content %}
		{{ page.hero_content }}
	{% endif %}

	</div>
{% endif %}

	<div class="scroll-to-content" title="Scroll to content" aria-label="Scroll to content"></div>
</div>
