<article class="inline-post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ include.post.title }}</h1>
    <p class="post-meta"><time datetime="{{ include.post.date | date_to_xmlschema }}" itemprop="datePublished">{{ include.post.date | date: "%b %-d, %Y" }}</time>{% if include.post.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ include.post.author }}</span></span>{% endif %}</p>
{% if include.post.post_image %}
	<figure class="post-image">
	{% if include.post.post_images %}
		<picture>
		{% for source in include.post.post_images %}
			<source srcset="{{ source.src }}" type="{{ source.type }}" />
		{% endfor %}
			<img src="{{ include.post.post_image }}" alt="" />
		</picture>
	{% elsif include.post.post_videos %}
		<video width="100%" height="100%" autoplay controls loop muted>
		{% for source in include.post.post_videos %}
			<source src="{{ source.src }}" type="{{ source.type }}" />
		{% endfor %}
			<img src="{{ include.post.post_image }}" alt="" />
		</video>
	{% else %}
		<img src="{{ include.post.post_image }}" alt="" />
	{% endif %}
	{% if include.post.post_image_caption or include.post.image_credit or include.post.post_credit %}
		<figcaption>
		{% if include.post.post_image_caption %}
			<p>
				{{ include.post.post_image_caption }}
			</p>
		{% endif %}

		{% if include.post.image_credit or include.post.post_credit %}
			<p class="attribution">
			{% if include.post.image_credit %}
				Image by {{ include.post.image_credit }}.
			{% endif %}
			{% if include.post.post_credit %}
				Article by {{ include.post.post_credit }}.
			{% endif %}
			</p>
		{% endif %}
		</figcaption>
	{% endif %}
	</figure>
{% endif %}
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ include.post.content }}
  </div>

{% if include.post.read_more %}
	<div class="read-more-link">
		<a href="{{ include.post.read_more }}" class="button outline accent-button">Read more →</a>
	</div>
{% endif %}

</article>
