ul#choose-mke-attraction-list {
	display: flex;
	flex-wrap: wrap;
	list-style: none;

	li {
		margin: 5px;

		figure {

			img {
				width: 200px;
				height: 200px;
			}

			figcaption {
				text-align: center;
			}
		}
	}
}

#choose-mke-attractions {

	section {

		h2 {

		}

		figure {
			width: 100%;

			img {
				width: 100%;
			}

			figcaption {
				color: $small-text-color;
				font-style: italic;
			}
		}

		.attraction-content {

		}
	}
}

.slick-prev,
.slick-next {

	&::before {
		color: $accent-color !important;
	}
}
