ul#choose-mke-attraction-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	list-style: none;

	li {
		margin: 5px;

		figure {

			img {
				width: 200px;
				height: 200px;
				-o-object-fit: cover;
				object-fit: cover;
			}

			figcaption {
				text-align: center;
			}
		}
	}
}

#choose-mke-attractions {

	section {

		h2 {

		}

		figure {
			width: 100%;

			img {
				margin: 0 auto;
				height: 500px;
				width: 100%;
				-o-object-fit: cover;
				object-fit: cover;
			}

			figcaption {
				color: rgba($text-color, $secondary-text);
				font-style: italic;
			}
		}

		.attraction-content {

		}
	}
}

.slick-prev,
.slick-next {

	&::before {
		color: $accent-color !important;
	}
}

#milwaukee-map {
	width: 100%;
	height: 500px;
}
