$people-transition-duration: 0.2s;

ul.people-group {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;

	li {
		position: relative;
		flex-shrink: 0;
		padding: 10px;
	}

	li.director {
		width: 100%;

		figure {
			margin: 0 2em 2em 0;

			@media (min-width: $small-desktop) {
				float: left;
			}

			img {
				max-width: 300px;
				width: 100%;
				height: auto;
			}
		}

		.bio {
			font-size: 0.75em;
		}

		&::after {
			content: ".";
			clear: both;
			display: none;
		}
	}

	li.person {
		width: 250px;
		border: 1px $background-color solid;
		border-bottom: 0;
		transition-property: border, background;
		transition-duration: $people-transition-duration;

		figure {

			img {
				max-width: 250px;
				max-height: 300px;
				width: 250px;
				height: 300px;
				margin: auto;
				object-fit: cover;
			}

			figcaption {

				.person-titles {
					color: rgba($accent-color, $secondary-text);
				}
			}
		}

		// .bio {
		// 	position: absolute;
		// 	z-index: 1000;
		// 	overflow: hidden;
		// 	width: 250px;
		// 	left: -1px;
		// 	background-color: $background-color;
		// 	margin: 0;
		// 	padding: 0 10px;
		// 	max-height: 0;
		// 	border: 1px $background-color solid;
		// 	border-top: 0;
		// 	transition-property: opacity, max-height, border;
		// 	transition-duration: $people-transition-duration;
		// }

		// &:hover,
		// &:active,
		// &:focus {
		// 	background-color: $background-color;
		// 	border: 1px $grey-color solid;
		// 	outline: none;
		// 	border-bottom: 0;
		// 	border-radius: 2px 2px 0 0;
		//
		// 	.bio {
		// 		border-radius: 0 0 2px 2px;
		// 		position: absolute;
		// 		z-index: 1000;
		// 		border: 1px $grey-color solid;
		// 		border-top: 0;
		// 		max-height: 250px;
		// 	}
		// }
	}
}

.person-bio-modal {
	display: none;

	&.active {
		display: block;
		position: absolute;
		top: 1em;
	}

	.person-name {
		margin-top: 0;
		color: rgba($primary-color, $primary-text);

		.person-titles {
			color: rgba($primary-color, $secondary-text);
		}
	}

	img.person-image {
		max-width: 100%;
		max-height: 400px;
		margin-bottom: $spacing-unit;
	}

	.bio {
		text-align: left;
	}
}
