.predict-acronym {
	font-family: $heading-font-family;

	figcaption {
		font-variant: small-caps;
		font-family: $heading-font-family;
		font-weight: $heading-font-weight;
		line-height: 1.15;
		font-size: 2em;
		color: rgba($primary-color, $secondary-text);
	}
}
