#map-container {
	position: relative;

	#us-map {
		width: 100%;
		height: 100%;

		.land {

			&.has-partner {
				fill: red;

				&:hover {
					fill: orange;
				}
			}
		}
	}

	.map-star {
		position: absolute;
		width: 20px;
		height: 20px;
		transform: translate(-50%, -50%);
		// pointer-events: none;

		transition: top 0.5s, left 0.5s;
	}
}
