---
title: Blog
hero_image: /images/hero/blog.jpg
order: 6
permalink: null
---
<aside class="sidebar sticky">
	<h2>Search</h2>
	<input type="search" id="search-posts" placeholder="Search" />
	<ul id="search-posts-results">

	</ul>
</aside>

<div class="page-content">
	<section class="post-list">
{% for post in paginator.posts %}
		{% include inline-post.html post=post %}

	{% unless forloop.last %}
		<hr />
	{% endunless %}
{% endfor %}
	</section>

{% if paginator.total_pages > 1 %}
	<div class="pagination">
	{% if paginator.previous_page %}
		<a class="pagination-nav" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
	{% else %}
		<span class="pagination-nav">&laquo; Prev</span>
	{% endif %}

	{% for page in (1..paginator.total_pages) %}
		{% if page == paginator.page %}
		<em class="current-page">{{ page }}</em>
		{% elsif page == 1 %}
		<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
		{% else %}
		<a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
		{% endif %}
	{% endfor %}

	{% if paginator.next_page %}
		<a class="pagination-nav" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
	{% else %}
		<span class="pagination-nav">Next &raquo;</span>
	{% endif %}
	</div>
{% endif %}
</div>

<script id="site-posts" type="application/json">
	{{ site.posts | jsonify | strip_html }}
</script>
