<!DOCTYPE html>
<html lang="en">
	{% include head.html %}
	<body>
		{% include header.html %}

		<main {% if page.hero_image %} class="has-hero" {% endif %}>
{% if page.hero_image %}
			<div class="watch-in-view" data-id="#">
	{% if page.hero_content %}
		{% capture hero_content %}
			{{ page.hero_content }}
		{% endcapture %}
	{% endif %}

				{% include hero.html content=hero_content %}
			</div>
{% endif %}
			{{ content }}
		</main>

		{% include footer.html %}

		<script id="page-data" type="application/json">
			{{ page | jsonify | strip_html }}
		</script>
		<script src="/js/bundle.js"></script>
{% for script_src in page.scripts %}
		<script src="{{ script_src }}"></script>
{% endfor %}
{% for script_tag in page.external_scripts %}
		{{ script_tag }}
{% endfor %}
	</body>
</html>
