<!DOCTYPE html>
<html>
	{% include head.html %}
	<body>
		{% include header.html %}

		<main>
{% if page.hero_image %}
			<div class="watch-in-view" data-id="#">
	{% if page.hero_content %}
		{% capture hero_content %}
			<div class="hero-content">
				{{ page.hero_content }}
			</div>
		{% endcapture %}
	{% endif %}

				{% include parallax.html content=hero_content %}
			</div>
{% endif %}
			{{ content }}
		</main>

		{% include footer.html %}

		<script src="/js/bundle.js"></script>
{% if page.scripts %}
	{% for script_src in page.scripts %}
		<script src="/js/{{ script_src }}"></script>
	{% endfor %}
{% endif %}
	</body>
</html>
