---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
{% if page.post_image %}
	<figure class="post-image">
		<img src="{{ page.post_image }}" alt="" />
	{% if page.post_image_caption or page.image_credit %}
		<figcaption>
		{% if page.post_image_caption %}
			<p>
				{{ page.post_image_caption }}
			</p>
		{% endif %}

		{% if page.image_credit or page.post_credit %}
			<p class="attribution">
			{% if page.image_credit %}
				Image by {{ page.image_credit }}.
			{% endif %}
			{% if page.post_credit %}
				Post by {{ page.post_credit }}.
			{% endif %}
			</p>
		{% endif %}
		</figcaption>
	{% endif %}
	</figure>
{% endif %}
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

{% if page.read_more %}
	<div class="read-more-link">
		<a href="{{ page.read_more }}" class="button outline accent-button">Read more →</a>
	</div>
{% endif %}

</article>
