---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
{% comment %}
{% if page.hero_image %}
	<div class="post-hero-image">
		<img src="{{ page.hero_image }}" alt="{{ page.hero_image_alt }}" />
	</div>
{% endif %}
{% endcomment %}

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

{% if page.read_more %}
	<div class="read-more-link">
		<a href="{{ page.read_more }}" class="button outline accent-button">Read more →</a>
	</div>
{% endif %}

</article>
