.site-footer {
	position: relative;
	background-color: $footer-color;
	border-top: 1px solid lighten($footer-color, 20%);
	padding: $spacing-unit 0;
	z-index: 2;

	#copyright-statement {
		position: absolute;
		bottom: 0;
	}
}

.footer-heading {
	font-size: 1.25em;
	margin-bottom: $spacing-unit / 2;
	color: rgba($light-text-color, $disabled-light-text);
}

.contact-list,
.social-media-list {
	list-style: none;
	margin-left: 0;
}

.footer-col-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
	font-size: 15px;
	color: rgba($light-text-color, $disabled-light-text);
	margin-left: -$spacing-unit / 2;

	a {
		color: rgba($light-text-color, $secondary-light-text);

		&:hover {
			color: rgba($light-text-color, $primary-light-text);
		}
	}

	@extend %clearfix;

	.footer-col {
		flex-shrink: 0;
		flex-grow: 1;
		width: 240px;
		margin-bottom: $spacing-unit / 2;
		padding: 0 ($spacing-unit / 2);

		ul {
			margin: 0;
			list-style: none;
		}

		&.internal-links-col {

			.page-list {

			}
		}

		&.external-links-col {
			flex-grow: 5;

			@media (max-width: $medium-desktop) {
				order: 10;
				width: 100%;
			}

			.icon-links {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-around;

				li {
					flex-shrink: 0;
					padding: 5px;

					a {

						svg {
							opacity: $secondary-light-text;
							display: block;
							max-width: 100%;
							height: 100px;
							width: auto;
							margin: 0 auto;
						}

						&:hover {

							svg {
								opacity: $primary-light-text;
							}
						}
					}
				}

				li.visit-milwaukee-logo {

					a {

						svg {

							path,
							polygon,
							rect {
								fill: $light-text-color !important;
							}
						}
					}
				}
			}
		}
	}
}
