.site-header {
	width: 100%;
	min-height: $header-height;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	z-index: 10;
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;

	&.collapsed {
		background-color: $header-color;
		// box-shadow: 0px 0px 20px -10px $shadow-color;
		border-bottom: 1px darken($header-color, 10%) solid;
	}

	.site-logo {
		padding: 5px;
		width: 65px;
		height: 65px;
		flex-grow: 1000;
		transition: transform 0.25s;

		&.expanded {
			transform: translate(75%, 75%) scale(2.5);
		}

		svg {
			height: 100%;
			width: auto;
		}
	}

	.site-title {
		display: inline-block;
		font-weight: 300;
		line-height: 56px;
		letter-spacing: -1px;
		margin-bottom: 0;
		flex-shrink: 0;
		flex-grow: 1000;
		padding: 10px;

		@media (max-width: $small-desktop) {
			transform: translateX(calc(50vw - 50%));
		}

		transition: transform 0.5s;

		&.expanded {
			transform: translate(calc(50vw - 50%), 15vh);

			@media (min-width: $small-desktop) {
				transform: translate(5vw, 15vh);
			}

			@media (min-width: $medium-desktop) {
				transform: translate(10vw, 15vh);
			}

			@media (min-width: $large-desktop) {
				transform: translate(15vw, 15vh);
			}
		}

		a,
		a:visited {
			color: rgba($light-text-color, $primary-light-text);
		}
	}

	.site-nav {
		font-family: $site-nav-font-family;
		text-align: center;
		line-height: 56px;
		flex-shrink: 0;
		flex-grow: 1;
		padding: 10px;

		.menu-icon {
			display: none;
		}

		.page-link {
			text-transform: uppercase;
			color: rgba($light-text-color, $primary-text);
			line-height: $base-line-height;

			// Gaps between nav items, but not on the last one

			&:not(:last-child) {
				margin-right: 20px;
			}

			@media (min-width: $small-desktop) {

				&.active {
					pointer-events: none;
					color: rgba($light-text-color, $disabled-text);
				}
			}
		}

		@media (max-width: $small-desktop) {
			position: absolute;
			top: 9px;
			right: $spacing-unit / 2;
			background-color: $background-color;
			border: 1px solid darken($background-color, 5%);
			border-radius: 5px;
			text-align: right;

			.menu-icon {
				display: block;
				float: right;
				width: 36px;
				height: 26px;
				line-height: 0;
				padding-top: 10px;
				text-align: center;

				> svg {
					width: 18px;
					height: 15px;

					path {
						fill: $grey-color-dark;
					}
				}
			}

			.trigger {
				clear: both;
				display: none;
			}

			&:hover .trigger {
				display: block;
				padding-bottom: 5px;
			}

			.page-link {
				display: block;
				padding: 5px 10px;
				color: rgba($text-color, $primary-text);
				margin-left: 20px;

				&:not(:last-child) {
					margin-right: 0;
				}
			}
		}
	}
}
