.site-header {
	width: 100%;
	min-height: $header-height;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	z-index: 10;
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;

	&.collapsed {
		background-color: $header-color;
		// box-shadow: 0px 0px 20px -10px $shadow-color;
		border-bottom: 1px darken($header-color, 10%) solid;
	}

	.site-logo {
		flex-shrink: 0;
		padding: 5px;
		width: 65px;
		height: 65px;
		-webkit-transition: -webkit-transform 0.25s;
		transition: -webkit-transform 0.25s;
		transition: transform 0.25s;
		transition: transform 0.25s, -webkit-transform 0.25s;

		svg {
			height: 100%;
			width: auto;
		}
	}

	.site-title {
		flex-shrink: 0;
		display: inline-block;
		font-weight: 300;
		line-height: 56px;
		letter-spacing: -1px;
		margin-bottom: 0;
		padding: 10px;
		-webkit-transition: -webkit-transform 0.5s;
		transition: -webkit-transform 0.5s;
		transition: transform 0.5s;
		transition: transform 0.5s, -webkit-transform 0.5s;

		@media (max-width: $small-desktop) {
			order: 2;
		}

		a,
		a:visited {
			color: rgba($light-text-color, $primary-light-text);
		}
	}

	.site-nav {
		position: relative;
		font-family: $site-nav-font-family;
		text-align: center;
		line-height: 56px;
		-ms-flex-negative: 0;
		display: flex;
		flex-wrap: wrap;
		padding: 10px;
		overflow: hidden;

		.menu-icon {
			display: none;
		}

		.page-link {
			text-transform: uppercase;
			color: rgba($light-text-color, $primary-text);
			line-height: $base-line-height;

			// Gaps between nav items, but not on the last one

			&:not(:last-child) {
				margin-right: 20px;
			}

			@media (min-width: $small-desktop) {

				&.active {
					pointer-events: none;
					color: rgba($light-text-color, $disabled-text);
				}
			}
		}

		@media (max-width: $small-desktop) {
			order: 3;
			flex-direction: column;
			align-items: flex-end;
			margin: 9px ($spacing-unit / 2);
			// background-color: $background-color;
			// border: 1px solid darken($background-color, 5%);
			border-radius: 5px;
			text-align: right;
			box-sizing: border-box;
			max-width: 58px;
			max-height: 58px;

			.menu-icon {
				position: relative;
				right: 0;
				top: 0;
				display: block;
				width: 36px;
				height: 26px;
				line-height: 0;
				padding-top: 10px;
				text-align: center;

				> svg {
					width: 18px;
					height: 15px;

					path {
						fill: $light-text-color;
					}
				}
			}

			.trigger {
				position: fixed;
				right: 0;
				top: 0;
				height: 100%;
				background-color: $primary-color-light;
				transform: translateX(100%);
				transition: transform 0.1s, box-shadow 0.1s;
				padding: $spacing-unit ($spacing-unit / 2);
			}

			&:hover,
			&:focus {

				.trigger {
					transform: none;
					box-shadow: 0px 0px 0px 10000px rgba(0, 0, 0, 0.35);
				}
			}

			// .trigger {
			// 	clear: both;
			// 	display: none;
			// }

			// &:hover .trigger {
			// 	display: block;
			// 	padding-bottom: 5px;
			// }

			.page-link {
				display: block;
				padding: 5px 10px;
				margin-left: 20px;

				&:not(:last-child) {
					margin-right: 0;
				}
			}
		}
	}
}
