.site-header {
	width: 100%;
	min-height: $header-height;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 10;
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;

	&.collapsed {
		background-color: $header-color;
		border-bottom: 1px darken($header-color, 10%) solid;
	}

	.site-logo {
		flex-shrink: 0;
		padding: 5px;
		width: 65px;
		height: 65px;

		@media (max-width: $extra-small-screen) {
			visibility: hidden;
		}

		svg {
			height: 100%;
			width: 100%;

			path {
				fill: rgba($mcw-blue, $primary-text) !important;
				stroke: rgba($mcw-blue, $secondary-text) !important;
			}

			rect {
				fill: rgba($mcw-blue, $secondary-text) !important;
			}
		}

		@media (max-width: $small-desktop) {
			order: 3;
			flex-shrink: 1;
		}
	}

	.site-title {
		font-family: $heading-font-family;
		font-weight: $heading-font-weight;
		color: rgba($header-text-color, $primary-text);
		font-size: 2.5em;
		font-variant: small-caps;
		flex-shrink: 0;
		display: inline-block;
		line-height: 1em;
		letter-spacing: -1px;
		margin-bottom: 0;
		padding: 10px;
		text-decoration: none;
		transition: transform 0.5s;

		.title-pain-lab {
			font-size: 0.67em;
			display: inline-block;
			margin-left: -0.25em;
		}

		@media (max-width: $small-desktop) {
			order: 2;
		}

		@media (max-width: 400px) {
			font-size: 2em;
		}
	}

	.site-nav {
		position: relative;
		font-family: $site-nav-font-family;
		text-align: center;
		line-height: 2em;
		display: flex;
		flex-wrap: wrap;
		padding: 10px;
		overflow: hidden;

		.menu-icon {
			display: none;
		}

		a.page-link {
			text-transform: uppercase;
			color: rgba($header-text-color, $primary-text);
			line-height: $base-line-height;
			white-space: nowrap;

			// Gaps between nav items, but not on the last one

			&:not(:last-child) {
				margin-right: 20px;
			}

			&.active {
				pointer-events: none;
				color: rgba($header-text-color, $disabled-text);
			}
		}

		@media (min-width: $small-desktop) {
			font-size: 0.95em;
		}

		@media (max-width: $small-desktop) {
			flex-shrink: 0;
			order: 1;
			flex-direction: column;
			align-items: flex-end;
			padding: 0;
			margin-left: ($spacing-unit / 2);
			text-align: left;
			box-sizing: border-box;
			max-width: 58px;
			max-height: 58px;

			.menu-icon {
				position: relative;
				left: 0;
				top: 0;
				display: block;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 36px;
				height: 26px;
				line-height: 0;
				text-align: center;

				> svg {
					width: 18px;
					height: 15px;
					opacity: $active-icon;

					path {
						fill: $header-text-color;
					}
				}
			}

			.trigger {
				position: fixed;
				left: 0;
				top: 0;
				box-sizing: border-box;
				height: 100%;
				max-width: calc(100% - 50px);
				overflow: auto;
				background-color: $header-color;
				// Prevent 1px hover area on left side
				transform: translateX(calc(-100% - 1px));
				transition: transform 0.1s;
				padding: $header-height ($spacing-unit / 2);
			}

			&:hover,
			&:focus {

				.trigger {
					transform: none;
					box-shadow: 0 0 0 200vh rgba(0, 0, 0, 0.35);
				}
			}

			// .trigger {
			// 	clear: both;
			// 	display: none;
			// }

			// &:hover .trigger {
			// 	display: block;
			// 	padding-bottom: 5px;
			// }

			.page-link {
				display: block;
				padding: 5px 10px;

				&:not(:last-child) {
					margin-right: 0;
				}
			}
		}
	}
}
