.hero-container {
	position: relative;
	min-height: 50vh;
	padding: 0 10px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	&.blur {
		filter: blur(2px);
	}

	@media (min-width: $extra-small-screen) {
		padding: 0 10%;
	}

	@media (min-width: $small-desktop) {
		min-height: calc(100vh - #{$header-height});
		background-attachment: fixed;
	}

	.hero-content {
		text-align: center;
		font-size: 1.25em;
		padding-bottom: 50px;
		filter: none;

		h1 {
			color: rgba($light-text-color, $primary-light-text);
			text-shadow: 0 0 10px $shadow-color;
			line-height: 1;
			margin-top: $spacing-unit;
		}

		.lead {
			color: rgba($light-text-color, $primary-light-text);
			text-shadow: 2px 2px 5px black;
			font-size: 1.25em;
			margin: 20% 0 0;

			@media (min-width: $extra-small-screen) {
				font-size: 1.5em;
			}

			@media (min-width: $small-desktop) {
				font-size: 1.75em;
			}

			@media (min-width: $medium-desktop) {
				font-size: 2em;
			}
		}
	}

	.scroll-to-content {
		font-family: $down-arrow-font-family;
		text-align: center;
		color: rgba($light-text-color, $active-light-icon);
		border: 1px solid rgba($light-text-color, $inactive-light-icon);
		padding: 0 20px;
		position: absolute;
		bottom: 20px;
		left: 50%;
		cursor: pointer;
		opacity: 0.5;
		transform: translateX(-50%);

		&:hover {
			opacity: 1;
		}

		&::before {
			content: '⏷';
		}
	}
}
