@import
	"header",
	"hero",
	"footer",
	"main",
	"parallax",
	"split-pane-section";

@import "../pages/index";

.sticky {

	&.stuck {

		@media (min-width: $small-desktop) {
			position: fixed !important;
		}
	}

	&.stuck-bottom {

		@media (min-width: $small-desktop) {
			position: absolute !important;
		}
	}
}

html.locked {
	overflow: hidden !important;
	touch-action: none !important;
}
