$small-sidebar-width: 150px;
$medium-sidebar-width: 225px;
$large-sidebar-width: 300px;

main {
	display: block;
	padding-top: $header-height;
	position: relative;
	background-color: $background-color;
	box-shadow: 0 -5px 20px -5px $shadow-color;
	z-index: 3;
	overflow-x: auto;

	article {
		padding: $spacing-unit;
	}

	.section,
	.split-pane-section {
		box-sizing: border-box;
		padding: (2 * $spacing-unit) 10px;

		&.compact {
			padding: $spacing-unit 10px;
		}
	}

	article,
	.section,
	.split-pane-section {

		@media (min-width: $small-desktop) {
			margin: auto;
			width: 750px;
		}

		@media (min-width: $medium-desktop) {
			width: 970px;
		}

		@media (min-width: $large-desktop) {
			width: 1170px;
		}

		&::after {
			content: "";
			display: block;
			clear: both;
		}
	}


	.sidebar {
		// position: sticky :(
		box-sizing: border-box;
		padding: 20px;
		max-height: calc(100vh - #{$header-height});
		overflow: auto;

		@media (min-width: $small-desktop) {
			float: left;
			display: block;
			padding: 0 20px 40px 0;
			border-right: 1px solid rgba($primary-color, $active-icon);
		}

		&,
		ul.page-nav {

			@media (min-width: $small-desktop) {
				max-width: $small-sidebar-width;
				min-width: calc(#{$small-sidebar-width} - 70px);
			}

			@media (min-width: $medium-desktop) {
				max-width: $medium-sidebar-width;
				min-width: calc(#{$medium-sidebar-width} - 70px);
			}

			@media (min-width: $large-desktop) {
				max-width: $large-sidebar-width;
				min-width: calc(#{$large-sidebar-width} - 70px);
			}
		}

		&.narrow-sidebar {

			&,
			ul.page-nav {

				@media (min-width: $small-desktop) {
					max-width: 0.75 * $small-sidebar-width;
					min-width: calc(#{0.75 * $small-sidebar-width} - 50px);
				}

				@media (min-width: $medium-desktop) {
					max-width: 0.75 * $medium-sidebar-width;
					min-width: calc(#{0.75 * $medium-sidebar-width} - 50px);
				}

				@media (min-width: $large-desktop) {
					max-width: 0.75 * $large-sidebar-width;
					min-width: calc(#{0.75 * $large-sidebar-width} - 50px);
				}
			}

			& + .page-content {

				@media (min-width: $small-desktop) {
					float: right;
					padding-left: 20px;
					width: calc(100% - #{0.75 * $small-sidebar-width} - 20px);
				}

				@media (min-width: $medium-desktop) {
					width: calc(100% - #{0.75 * $medium-sidebar-width} - 30px);
				}

				@media (min-width: $large-desktop) {
					width: calc(100% - #{0.75 * $large-sidebar-width} - 40px);
				}
			}
		}

		ul.page-nav {
			list-style: none;
			line-height: 1.5em;
			margin: 0;

			li {

				& + li {
					margin-top: 0.75em;
				}

				& + li.back-to-top {
					margin-top: 1.25em;
				}

				&.back-to-top {
					font-size: 1.25em;
				}
			}

			&.cozy {

				li {

					& + li {
						margin-top: 0.25em;
					}
				}
			}
		}
	}
}

.page {

	.page-header {
		padding-bottom: 0.5em;

		h1 {
			font-size: 4em;

			@media (min-width: $small-desktop) {
				font-size: 6em;
			}
		}

		.lead {
			padding: 0 0 20px;
			font-size: 1.05em;

			p {
				margin-bottom: $spacing-unit;
			}

			@media (min-width: $small-desktop) {
				padding: 0 0 40px;
			}

			@media (min-width: $medium-desktop) {
				font-size: 1.1em;
				padding: 0 0 60px;
			}
		}
	}
}

.page-content {

	@media (min-width: $small-desktop) {
		float: right;
		padding-left: 20px;
		width: calc(100% - #{$small-sidebar-width} - 20px);
	}

	@media (min-width: $medium-desktop) {
		width: calc(100% - #{$medium-sidebar-width} - 30px);
	}

	@media (min-width: $large-desktop) {
		width: calc(100% - #{$large-sidebar-width} - 40px);
	}
}


.post-list {
	margin-left: 0;
	list-style: none;

	> li {
		margin-bottom: $spacing-unit;
	}
}

.post-meta {
	font-size: $small-font-size;
	color: rgba($text-color, $secondary-text);
}

.post-link {
	display: block;
	font-size: 24px;
}


/**
 * Posts
 */
.post-header {
	margin-bottom: $spacing-unit;

	.post-title {
		font-size: 42px;
		letter-spacing: -1px;
		line-height: 1;
		text-align: center;

		@include media-query($on-laptop) {
			font-size: 36px;
		}
	}

	.post-meta {
		text-align: center;
	}
}

.post-content {
	margin-bottom: $spacing-unit;

	h2 {
		font-size: 32px;

		@include media-query($on-laptop) {
			font-size: 28px;
		}
	}

	h3 {
		font-size: 26px;

		@include media-query($on-laptop) {
			font-size: 22px;
		}
	}

	h4 {
		font-size: 20px;

		@include media-query($on-laptop) {
			font-size: 18px;
		}
	}
}

.inline-post {
	width: 100%;
}

.post,
.inline-post {

	.post-image {
		width: 100%;

		img {
			width: 100%;
			height: auto;
		}
	}

	.read-more-link {
		text-align: center;
	}
}

.collapsable {
	display: block;

	&::after {
		content: "";
		display: block;
		clear: both;
	}

	&.collapsed {
		display: none;

		&.hide-off-screen {
			display: block !important;
			position: absolute !important;
			right: calc(100% + 1000px);
			bottom: calc(100% + 100px);
		}
	}
}
