$small-sidebar-width: 150px;
$medium-sidebar-width: 225px;
$large-sidebar-width: 300px;

main {
	position: relative;
	background-color: $background-color;
	box-shadow: 0 -5px 20px -5px $shadow-color;
	z-index: 3;

	article {
		padding: $spacing-unit 10px;

		@media (min-width: $small-desktop) {
			margin: auto;
			width: 750px;
		}

		@media (min-width: $medium-desktop) {
			width: 970px;
		}

		@media (min-width: $large-desktop) {
			width: 1170px;
		}
	}

	&::after {
		content: "";
		display: block;
		clear: both;
	}

	.sidebar {
		display: block;
		padding-right: 20px;
		padding-bottom: 40px;
		// position: sticky :(

		@media (min-width: $small-desktop) {
			float: left;
			border-right: 1px solid rgba($primary-color, $active-icon);
		}

		&,
		ul.page-nav {

			@media (min-width: $small-desktop) {
				max-width: $small-sidebar-width;
				min-width: calc(#{$small-sidebar-width} - 70px);
			}

			@media (min-width: $medium-desktop) {
				max-width: $medium-sidebar-width;
				min-width: calc(#{$medium-sidebar-width} - 70px);
			}

			@media (min-width: $large-desktop) {
				max-width: $large-sidebar-width;
				min-width: calc(#{$large-sidebar-width} - 70px);
			}
		}

		ul.page-nav {
			list-style: none;
			line-height: 1em;
			margin: 0;

			li {

				& + li {
					margin-top: 0.75em;
				}

				& + li.back-to-top {
					margin-top: 1.25em;
				}

				&.back-to-top {
					font-size: 1.25em;
				}
			}
		}
	}
}

.page {

	.page-header {
		clear: both;

		.page-heading {
			font-size: 20px;
		}
	}

	.page-content {
		padding-left: 20px;

		@media (min-width: $small-desktop) {
			float: right;
			width: calc(100% - #{$small-sidebar-width} - 20px);
		}

		@media (min-width: $medium-desktop) {
			width: calc(100% - #{$medium-sidebar-width} - 30px);
		}

		@media (min-width: $large-desktop) {
			width: calc(100% - #{$large-sidebar-width} - 40px);
		}
	}
}


.post-list {
	margin-left: 0;
	list-style: none;

	> li {
		margin-bottom: $spacing-unit;
	}
}

.post-meta {
	font-size: $small-font-size;
	color: rgba($text-color, $secondary-text);
}

.post-link {
	display: block;
	font-size: 24px;
}


/**
 * Posts
 */
.post-header {
	margin-bottom: $spacing-unit;
}

.post-title {
	font-size: 42px;
	letter-spacing: -1px;
	line-height: 1;

	@include media-query($on-laptop) {
		font-size: 36px;
	}
}

.post-content {
	margin-bottom: $spacing-unit;

	h2 {
		font-size: 32px;

		@include media-query($on-laptop) {
			font-size: 28px;
		}
	}

	h3 {
		font-size: 26px;

		@include media-query($on-laptop) {
			font-size: 22px;
		}
	}

	h4 {
		font-size: 20px;

		@include media-query($on-laptop) {
			font-size: 18px;
		}
	}
}
