.parallax-container {
	position: relative;
	overflow: hidden;
	height: 500px;
	box-sizing: border-box;
	padding: 10%;

	.parallax {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		box-sizing: border-box;

		.parallax-image {
			position: absolute;
			left: 50%;
			bottom: 0;
			transform: translateX(-50%);
			display: block;
			min-width: 100%;
			min-height: 100%;
			will-change: transform;
			box-sizing: border-box;
		}
	}
}
