.parallax-container {
	position: relative;
	overflow: hidden;
	height: 80vh;

	.parallax {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		.parallax-image {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			display: block;
			min-height: 100%;
			min-width: 100%;
		}
	}
}
