.split-pane-section {
	display: flex;
	flex-wrap: wrap;

	& > * {
		box-sizing: border-box;
		flex-basis: 50%;
		min-width: 350px;
		flex-grow: 1;
		flex-shrink: 0;
		padding: 2em;
	}

	.split-pane-section-header,
	.section-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.split-pane-section-header {
		font-size: 0.9em;

		.split-pane-section-heading {

			small {
				display: block;
				margin-top: $spacing-unit / 2;
				color: rgba($primary-color, $secondary-text);
			}
		}
	}
}
