.split-pane-section {
	display: flex;
	flex-wrap: wrap;

	& > * {
		box-sizing: border-box;
		flex-basis: 50%;
		min-width: 350px;
		flex-grow: 1;
		flex-shrink: 0;
		padding: 2em;
	}

	.split-pane-section-header {
		display: flex;
		flex-direction: column;
		justify-content: center;

		.split-pane-section-heading {

		}
	}

	.section-content {

	}
}
